@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #363536;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}

.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: #000;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.2);
    letter-spacing: .2rem;
    text-align: center;
}

.section-title span {
    color: #87A7A7;
}

.cta {
    display: inline-block;
    padding: 15px 20px;
    color: #fff;
    background-color: transparent;
    border: 3px solid #87A7A7;
    text-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.4);
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
    border-radius: 5px;
}

.cta:hover {
    color: #fff;
    background-color: #87A7A7;
}

.live-bttn {
    display: inline-block;
    padding: 10px;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    background-color: #87A7A7;
    letter-spacing: .1rem;
    transition: .3s ease;
    transition-property: background-color, color;
    text-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.2);
    border: 1px solid #fff;
    border-radius: 5px;
}

.live-bttn:hover {
    color: #87A7A7;
    background-color: transparent;
    border: 1px solid #87A7A7;
}

.source {
    color: #87A7A7;
    text-transform: uppercase;
    padding-left: 15px;
    font-size: 1.6rem;
}

.source:hover {
    color: #435353;
}

.brand h1 {
    font-size: 3rem;
    text-transform: uppercase;
    text-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.2);
    color: #87A7A7;
    font-weight: 100;
    letter-spacing: .1rem;
}

.dark {
    background-color: #283232;
    color: rgba(255, 255, 255, 0.8);
}

.dark-title {
    color: #fff;
    text-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.5);
}

.box-shadow {
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.4);
}

.box-shadow-night {
    box-shadow: 0 26px 42px rgba(0, 0, 0, 0.3);
    border: 1px solid #ffffff40;
    background-color: rgba(0, 0, 0, 0.2);
}

/*  Header Section */
#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

#header .header {
    min-height: 8vh;
    background-color: #0d1010;
    transition: .3s ease background-color;
}

#header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}

#header .navlist ul {
    list-style: none;
    position: absolute;
    background-color: #0d1010;
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s ease left;
}

#header .navlist ul.active {
    left: 0%;
}

#header .navlist ul a {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}

#header .navlist ul li:hover a {
    color: #87A7A7;
    text-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.2);
}

#header .hamburger {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 2px solid #ffffff40;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 20px;
}

#header .hamburger:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    border: 2px solid #ffffff40;
    border-radius: 50%;
    animation: hamburger_puls 5s ease;
}

#header .hamburger .bar {
    height: 2px;
    width: 30px;
    position: relative;
    background-color: #fff;
    z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: #fff;
    transition: .3s ease;
    transition-property: top, bottom;
}

#header .hamburger .bar::after {
    top: 8px;
}

#header .hamburger .bar::before {
    bottom: 8px;
}

#header .hamburger.active .bar::before {
    bottom: 0;
}

#header .hamburger.active .bar::after {
    top: 0;
}

#header .themeSwitch {
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid #ffffff40;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#header .themeSwitch:hover {
    background: rgba(255, 255, 255, 0.1);
}

#header .themeSwitch::before {
    content: '\f186';
    color: #fff;
    font-size: 20px;
    font-family: fontAwesome;
}

#header .themeSwitch.active::before {
    content: '\f185';
}

/* End Header Section */

/* Hero Section */
#hero {
    background-image: url(images/hero4.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#hero::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(28, 28, 28, 0.98);
    opacity: .3;
    z-index: -1;
}

#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#hero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    font-weight: 90;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}

#hero h1:nth-child(1) {
    font-size: 3rem;
    animation-delay: 1s;
}

#hero h1:nth-child(2) {
    animation-delay: 2s;
    font-size: 6rem;
}

#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #87A7A7;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
}

#hero h1:nth-child(1) span {
    animation-delay: .5s;
}

#hero h1:nth-child(2) span {
    animation-delay: 1.5s;
}
/* End Hero Section */

/* About Section */
#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#about .col-left {
    width: 250px;
    height: 360px;
}

#about .col-right {
    width: 100%;
}

#about .col-right h2 {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 15px;
}

#about .col-right p {
    margin-bottom: 20px;
}

#about .col-right .cta {
    color: #87A7A7;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}

#about .col-left .about-img {
    height: 100%;
    width: 100%;
    position: relative;
    margin-right: 10px;
}

#about .about-img  img {
    filter: grayscale(.3);
    border: 10px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

#about .col-left .about-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 98%;
    width: 98%;
    border: 7px solid #87A7A7;
    z-index: -1;
    border-radius: 50%;
}

#about .cta:hover {
    color: #fff;
}
/* End About Section */

/* Education Section */
#education .education {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#education .education-top {
    max-width: 500px;
    margin: 0 auto;
}

#education .education-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#education .education-item {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    margin: 10px 5%;
    overflow: hidden;
}

#education .education-bottom .icon {
    margin-bottom: 20px;
    height: 80px;
    width: 80px;
}

#education .education-item h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: left;
}

#education .education-item h3 {
    margin-bottom: 10px;
}

#education .education-item p {
    text-align: left;
}
/* End Education Section */

/* Projects Section */
#projects .projects {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#projects .projects-header h1 {
    margin-bottom: 50px;
}

#projects .all-projects {
    width: 80%;
}

#projects .project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 5px 10px 50px 10px;
    border-radius: 5px;
    transition: .3s ease-in-out;
}

#projects .project-info {
    padding: 30px;
    flex-basis: 50%;
}

#projects .project-info h1 {
    font-size: 2.5rem;
    font-weight: 500;
}

#projects .project-info h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}

#projects .project-img {
    flex-basis: 50%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

#projects .project-img img {
    transition: .5s ease transform;
    filter: grayscale(.8);
}

#projects .project-item:hover .project-img img {
    filter: grayscale(.3);
}

#projects .project-item:hover{
    transform: scale(1.01);
}

#projects .replit {
    height: 300px;
    width: 400px;
}
/* End Projects Section */

/* Contact Section */
#contact .contact {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

#contact .contact-items {
    width: 400px;
}

#contact .contact-item {
    width: 80%;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .3s ease box-shadow;
}

#contact .contact-item:hover {
    box-shadow: .2rem .5rem .9rem rgba(0, 0, 0, 0.4);
}

#contact .icon {
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#contact .contact-info h1 {
    font-size: 2.5rem;
    font-weight: 500;
    /*margin-bottom: 5px;*/
}

#contact .contact-info h2 {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
}
/* End Contact Section */

/* Footer */
#footer {
    background-color: #0d1010;
}

#footer hr {
    width: 50%;
    opacity: 0.5;
    margin-bottom: 10px;
}

#footer .footer {
    min-height: 100px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}

#footer .social-media {
    display: flex;
    width: 100%;
    justify-content: center;
}

#footer .social-media i {
    font-size: 4.5rem;
    margin: 2rem;
    /*width: 5rem;
    height: 5rem;*/
    background-color: transparent;
    color: #ffffff40;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

#footer .social-media i:hover {
    color: rgba(135, 167, 167, .5);
}
#footer p {
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
}

#footer .copyright {
    font-size: 1rem;
    text-align: left;
    opacity: 0.7;
}
/* End Footer */

/* Keyframes */
@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes hamburger_puls {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.4);
    }
}

@keyframes text_reveal {
    100% {
        color: #fff;
        text-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.2);
    }
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.section-title {
		font-size: 6rem;
	}

	/* Hero */
    #hero h1 {
		font-size: 5rem;
	}
	/* End Hero */

    /* About */
    #about .about {
        flex-direction: row;
    }
    #about .col-left {
        width: 600px;
        height: 400px;
    }
    #about .about .col-left .about-img::after {
        height: 98%;
        width: 98%;
        border: 10px solid #87A7A7;
    }
    #about .col-right {
        text-align: left;
        padding: 20px;
        margin-left: 30px;
    }
    #about .col-right h1 {
        text-align: left;
    }
    /* End About */

	/* Education Section */
	#education .education-bottom .education-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End Education Section */

	/* Project */
	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item {
		height: 400px;
		/*width: 100%;*/
	}
    #projects .project-info h1 {
        font-size: 3.2rem;
    }
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
        width: 100%;
	}

    #projects .replit {
        height: 600px;
        width: 600px;
    }
	/* End Project */

	/* contact  */
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End contact  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .navlist ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .navlist ul li {
		display: inline-block;
	}
	#header .navlist ul li a {
		font-size: 1.8rem;
	}
	#header .navlist ul a:after {
		display: none;
	}
	/* End header */

    /* Education */
	#education .education-bottom .education-item {
		flex-basis: 28%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */
